// Discount Coupon Card
.container
    .card.discount-coupon-card.border-0
        .card-body
            .coupon-text-wrap.d-flex.align-items-center.p-3
                h5.text-white.pr-3.mb-0 Get 20% <br> discount
                p.text-white.pl-3.mb-0 To get discount, enter the
                    strong.px-1 GET20
                    | code on the checkout page.