// Cool Facts Area
.cta-area
    .container
        .cta-text.p-4.p-lg-5(style="background-image: url(img/bg-img/24.jpg)")
            h4 Winter Sale 50% Off
            p Suha is a multipurpose, creative &amp; <br>modern mobile template.
            a.btn.btn-danger(href="#") Shop Today