// Sidenav Black Overlay
.sidenav-black-overlay

// Side Nav Wrapper
.suha-sidenav-wrapper.filter-nav#sidenavWrapper
    // Catagory Sidebar Area
    .catagory-sidebar-area

        // Catagory
        .widget.catagory.mb-4
            h6.widget-title.mb-3 Product Brand

            .widget-desc
                // Single Checkbox
                .form-check
                    input.form-check-input#zara(type="checkbox", checked)
                    label.form-check-label.font-weight-bold(for="zara") Zara

                // Single Checkbox
                .form-check
                    input.form-check-input#Gucci(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Gucci") Gucci

                // Single Checkbox
                .form-check
                    input.form-check-input#Addidas(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Addidas") Addidas

                // Single Checkbox
                .form-check
                    input.form-check-input#Nike(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Nike") Nike

                // Single Checkbox
                .form-check
                    input.form-check-input#Denim(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Denim") Denim

        // Color
        .widget.color.mb-4
            h6.widget-title.mb-3 Color Family

            .widget-desc
                // Single Checkbox
                .form-check
                    input.form-check-input#Purple(type="checkbox", checked)
                    label.form-check-label.font-weight-bold(for="Purple") Purple

                // Single Checkbox
                .form-check
                    input.form-check-input#Black(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Black") Black

                // Single Checkbox
                .form-check
                    input.form-check-input#White(type="checkbox")
                    label.form-check-label.font-weight-bold(for="White") White

                // Single Checkbox
                .form-check
                    input.form-check-input#Red(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Red") Red

                // Single Checkbox
                .form-check
                    input.form-check-input#Pink(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Pink") Pink

        // Size
        .widget.size.mb-4
            h6.widget-title.mb-3 Size

            .widget-desc
                // Single Checkbox
                .form-check
                    input.form-check-input#XtraLarge(type="checkbox", checked)
                    label.form-check-label.font-weight-bold(for="XtraLarge") Xtra Large

                // Single Checkbox
                .form-check
                    input.form-check-input#Large(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Large") Large

                // Single Checkbox
                .form-check
                    input.form-check-input#medium(type="checkbox")
                    label.form-check-label.font-weight-bold(for="medium") Medium

                // Single Checkbox
                .form-check
                    input.form-check-input#Small(type="checkbox")
                    label.form-check-label.font-weight-bold(for="Small") Small

                // Single Checkbox
                .form-check
                    input.form-check-input#ExtraSmall(type="checkbox")
                    label.form-check-label.font-weight-bold(for="ExtraSmall") Extra Small

        // Ratings
        .widget.ratings.mb-4
            h6.widget-title.mb-3 Ratings

            .widget-desc
                // Single Checkbox
                .form-check
                    input.form-check-input#5star(type="checkbox", checked)
                    label.form-check-label.font-weight-bold(for="5star") 5 star

                // Single Checkbox
                .form-check
                    input.form-check-input#4star(type="checkbox")
                    label.form-check-label.font-weight-bold(for="4star") 4 star

                // Single Checkbox
                .form-check
                    input.form-check-input#3star(type="checkbox")
                    label.form-check-label.font-weight-bold(for="3star") 3 star

                // Single Checkbox
                .form-check
                    input.form-check-input#2star(type="checkbox")
                    label.form-check-label.font-weight-bold(for="2star") 2 star

                // Single Checkbox
                .form-check
                    input.form-check-input#1star(type="checkbox")
                    label.form-check-label.font-weight-bold(for="1star") 1 star

        // Payment Type
        .widget.payment-type.mb-4
            h6.widget-title.mb-3 Payment Type

            .widget-desc
                // Single Checkbox
                .form-check
                    input.form-check-input#cod(type="checkbox", checked)
                    label.form-check-label.font-weight-bold(for="cod") Cash On Delivery

                // Single Checkbox
                .form-check
                    input.form-check-input#paypal(type="checkbox")
                    label.form-check-label.font-weight-bold(for="paypal") Paypal

                // Single Checkbox
                .form-check
                    input.form-check-input#checkpayment(type="checkbox")
                    label.form-check-label.font-weight-bold(for="checkpayment") Check Payment

                // Single Checkbox
                .form-check
                    input.form-check-input#payonner(type="checkbox")
                    label.form-check-label.font-weight-bold(for="payonner") Payonner

                // Single Checkbox
                .form-check
                    input.form-check-input#mobbanking(type="checkbox")
                    label.form-check-label.font-weight-bold(for="mobbanking") Mobile Banking

        // Apply Filter
        .apply-filter-btn
            a.btn.btn-success(href="") Apply Filter

    // Go Back Button
    .go-home-btn#goHomeBtn
        i.lni.lni-arrow-left