// All JavaScript Files
script(src="js/jquery.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/jquery.countdown.min.js")
script(src="js/default/jquery.passwordstrength.js")
script(src="js/wow.min.js")
script(src="js/jarallax.min.js")
script(src="js/jarallax-video.min.js")
script(src="js/default/dark-mode-switch.js")
script(src="js/default/no-internet.js")
script(src="js/default/active.js")
script(src="js/pwa.js")