// Internet Connection Status
.internet-connection-status#internetStatus

// Footer Nav
.footer-nav-area#footerNav
    .container.h-100.px-0
        .suha-footer-nav.h-100
            ul.h-100.d-flex.align-items-center.justify-content-between.pl-0
                li.active
                    a(href="home.html")
                        i.lni.lni-home
                        | Home
                li
                    a(href="message.html")
                        i.lni.lni-life-ring
                        | Support
                li
                    a(href="cart.html")
                        i.lni.lni-shopping-basket
                        | Cart
                li
                    a(href="pages.html")
                        i.lni.lni-heart
                        | Pages
                li
                    a(href="settings.html")
                        i.lni.lni-cog
                        | Settings