// Header Area
.header-area#headerArea
    .container.h-100.d-flex.align-items-center.justify-content-between
        // Logo Wrapper
        .logo-wrapper
            a(href="home.html")
                img(src="img/core-img/logo-small.png", alt="")

        // Search Form
        .top-search-form
            form(action="" method="")
                input.form-control(type="search" placeholder="Enter your keyword")
                button(type="submit")
                    i.fa.fa-search

        // Navbar Toggler
        .suha-navbar-toggler.d-flex.flex-wrap#suhaNavbarToggler
            span
            span
            span