doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between
                // Back Button
                .back-button
                    a(href="home.html")
                        i.lni.lni-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Blog List

                // Navbar Toggler
                .suha-navbar-toggler.d-flex.justify-content-between.flex-wrap#suhaNavbarToggler
                    span
                    span
                    span

        include inc/sidenav.pug

        .page-content-wrapper

            // Top Products
            .top-products-area.py-3
                .container
                    .section-heading.d-flex.align-items-center.justify-content-between
                        h6.ml-1 Blog List

                        // Layout Options
                        .layout-options
                            a(href="blog-grid.html")
                                i.lni.lni-grid-alt

                            a.active(href="blog-list.html")
                                i.lni.lni-radio-button

                    .row.g-3

                        // Single Blog Card
                        .col-12.col-md-6
                            .card.blog-card.list-card
                                // Post Image
                                .post-img
                                    img(src="img/bg-img/12.jpg", alt="")
                                // Post Bookmark
                                a.post-bookmark(href="#")
                                    i.lni.lni-bookmark
                                // Read More Button
                                a(href="blog-details.html").btn.btn-danger.btn-sm.read-more-btn Read More

                                // Post Content
                                .post-content
                                    .bg-shapes
                                        .circle1
                                        .circle2
                                        .circle3
                                        .circle4
                                    // Post Catagory
                                    a.post-catagory.d-block(href="#") Review
                                    // Post Title
                                    a(href="blog-details.html").post-title.d-block The 5 best reviews in Suha
                                    // Post Meta
                                    .post-meta.d-flex.align-items-center.justify-content-between.flex-wrap
                                        a(href="#")
                                            i.lni.lni-user
                                            | Yasin
                                        span
                                            i.lni.lni-timer
                                            | 2 min

                        // Single Blog Card
                        .col-12.col-md-6
                            .card.blog-card.list-card
                                // Post Image
                                .post-img
                                    img(src="img/bg-img/13.jpg", alt="")
                                // Post Bookmark
                                a.post-bookmark(href="#")
                                    i.lni.lni-bookmark
                                // Read More Button
                                a(href="blog-details.html").btn.btn-warning.btn-sm.read-more-btn Read for $0.9

                                // Post Content
                                .post-content
                                    .bg-shapes
                                        .circle1
                                        .circle2
                                        .circle3
                                        .circle4
                                    // Post Catagory
                                    a.post-catagory.d-block(href="#") Shopping
                                    // Post Title
                                    a(href="blog-details.html").post-title.d-block The best deals of this week
                                    // Post Meta
                                    .post-meta.d-flex.align-items-center.justify-content-between.flex-wrap
                                        a(href="#")
                                            i.lni.lni-user
                                            | Yasin
                                        span
                                            i.lni.lni-timer
                                            | 4 min

                        // Single Blog Card
                        .col-12.col-md-6
                            .card.blog-card.list-card
                                // Post Image
                                .post-img
                                    img(src="img/bg-img/14.jpg", alt="")
                                // Post Bookmark
                                a.post-bookmark(href="#")
                                    i.lni.lni-bookmark
                                // Read More Button
                                a(href="blog-details.html").btn.btn-danger.btn-sm.read-more-btn Read More

                                // Post Content
                                .post-content
                                    .bg-shapes
                                        .circle1
                                        .circle2
                                        .circle3
                                        .circle4
                                    // Post Catagory
                                    a.post-catagory.d-block(href="#") Tips
                                    // Post Title
                                    a(href="blog-details.html").post-title.d-block 5 tips for buy original products
                                    // Post Meta
                                    .post-meta.d-flex.align-items-center.justify-content-between.flex-wrap
                                        a(href="#")
                                            i.lni.lni-user
                                            | Yasin
                                        span
                                            i.lni.lni-timer
                                            | 7 min

                        // Single Blog Card
                        .col-12.col-md-6
                            .card.blog-card.list-card
                                // Post Image
                                .post-img
                                    img(src="img/bg-img/15.jpg", alt="")
                                // Post Bookmark
                                a.post-bookmark(href="#")
                                    i.lni.lni-bookmark
                                // Read More Button
                                a(href="blog-details.html").btn.btn-warning.btn-sm.read-more-btn Read for $0.69

                                // Post Content
                                .post-content
                                    .bg-shapes
                                        .circle1
                                        .circle2
                                        .circle3
                                        .circle4
                                    // Post Catagory
                                    a.post-catagory.d-block(href="#") Offer
                                    // Post Title
                                    a(href="blog-details.html").post-title.d-block Mega Deals: Up to 75% discount
                                    // Post Meta
                                    .post-meta.d-flex.align-items-center.justify-content-between.flex-wrap
                                        a(href="#")
                                            i.lni.lni-user
                                            | Yasin
                                        span
                                            i.lni.lni-timer
                                            | 8 min

                        // Single Blog Card
                        .col-12.col-md-6
                            .card.blog-card.list-card
                                // Post Image
                                .post-img
                                    img(src="img/bg-img/16.jpg", alt="")
                                // Post Bookmark
                                a.post-bookmark(href="#")
                                    i.lni.lni-bookmark
                                // Read More Button
                                a(href="blog-details.html").btn.btn-danger.btn-sm.read-more-btn Read More

                                // Post Content
                                .post-content
                                    .bg-shapes
                                        .circle1
                                        .circle2
                                        .circle3
                                        .circle4
                                    // Post Catagory
                                    a.post-catagory.d-block(href="#") Trends
                                    // Post Title
                                    a(href="blog-details.html").post-title.d-block Bridal shopping is the latest trends of this month
                                    // Post Meta
                                    .post-meta.d-flex.align-items-center.justify-content-between.flex-wrap
                                        a(href="#")
                                            i.lni.lni-user
                                            | Yasin
                                        span
                                            i.lni.lni-timer
                                            | 6 min

                        // Single Blog Card
                        .col-12.col-md-6
                            .card.blog-card.list-card
                                // Post Image
                                .post-img
                                    img(src="img/bg-img/17.jpg", alt="")
                                // Post Bookmark
                                a.post-bookmark(href="#")
                                    i.lni.lni-bookmark
                                // Read More Button
                                a(href="blog-details.html").btn.btn-warning.btn-sm.read-more-btn Read for $0.33

                                // Post Content
                                .post-content
                                    .bg-shapes
                                        .circle1
                                        .circle2
                                        .circle3
                                        .circle4
                                    // Post Catagory
                                    a.post-catagory.d-block(href="#") News
                                    // Post Title
                                    a(href="blog-details.html").post-title.d-block How to easily buy a product
                                    // Post Meta
                                    .post-meta.d-flex.align-items-center.justify-content-between.flex-wrap
                                        a(href="#")
                                            i.lni.lni-user
                                            | Yasin
                                        span
                                            i.lni.lni-timer
                                            | 3 min

                .container
                    .section-heading.pt-3
                        h6.ml-1 Read by category

                    .row.g-3
                        // Single Blog Catagory
                        .col-6.col-sm-4
                            .card.blog-catagory-card
                                .card-body
                                    a(href="#")
                                        i.lni.lni-quotation
                                        span.d-block Review

                        // Single Blog Catagory
                        .col-6.col-sm-4
                            .card.blog-catagory-card
                                .card-body
                                    a(href="#")
                                        i.lni.lni-shopping-basket
                                        span.d-block Shopping

                        // Single Blog Catagory
                        .col-6.col-sm-4
                            .card.blog-catagory-card
                                .card-body
                                    a(href="#")
                                        i.lni.lni-bulb
                                        span.d-block Tips

                        // Single Blog Catagory
                        .col-6.col-sm-4
                            .card.blog-catagory-card
                                .card-body
                                    a(href="#")
                                        i.lni.lni-offer
                                        span.d-block Offer

                        // Single Blog Catagory
                        .col-6.col-sm-4
                            .card.blog-catagory-card
                                .card-body
                                    a(href="#")
                                        i.lni.lni-bolt-alt
                                        span.d-block Trends

                        // Single Blog Catagory
                        .col-6.col-sm-4
                            .card.blog-catagory-card
                                .card-body
                                    a(href="#")
                                        i.lni.lni-paperclip
                                        span.d-block News
                        
        include inc/footer-nav.pug

        include inc/footer.pug