doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between
                // Back Button
                .back-button
                    a(href="cart.html")
                        i.lni.lni-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Billing Information

                // Navbar Toggler
                .suha-navbar-toggler.d-flex.justify-content-between.flex-wrap#suhaNavbarToggler
                    span
                    span
                    span

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                // Checkout Wrapper
                .checkout-wrapper-area.py-3

                    // Billing Address
                    .billing-information-card.mb-3
                        .card.billing-information-title-card.bg-danger
                            .card-body
                                h6.text-center.mb-0.text-white Billing Information

                        .card.user-data-card
                            .card-body                                    
                                .single-profile-data.d-flex.align-items-center.justify-content-between
                                    .title.d-flex.align-items-center
                                        i.lni.lni-user
                                        span Full Name
                                    .data-content SUHA JANNAT

                                .single-profile-data.d-flex.align-items-center.justify-content-between
                                    .title.d-flex.align-items-center
                                        i.lni.lni-envelope
                                        span Email Address
                                    .data-content care@example.com

                                .single-profile-data.d-flex.align-items-center.justify-content-between
                                    .title.d-flex.align-items-center
                                        i.lni.lni-phone
                                        span Phone
                                    .data-content +880 000 111 222

                                .single-profile-data.d-flex.align-items-center.justify-content-between
                                    .title.d-flex.align-items-center
                                        i.lni.lni-map-marker
                                        span Shipping Address
                                    .data-content 28/C Green Road, BD

                                // Edit Address
                                a.btn.btn-danger.w-100(href="edit-profile.html") Edit Billing Information

                    // Shipping Method Choose
                    .shipping-method-choose.mb-3
                        .card.shipping-method-choose-title-card.bg-success
                            .card-body
                                h6.text-center.mb-0.text-white Shipping Method Choose

                        .card.shipping-method-choose-card
                            .card-body
                                .shipping-method-choose
                                    ul.pl-0
                                        li
                                            input#fastShipping(type="radio", name="selector", checked)
                                            label(for="fastShipping") Fast Shipping
                                                span 1 days delivary for $1.0
                                            .check

                                        li
                                            input#normalShipping(type="radio", name="selector")
                                            label(for="normalShipping") Reguler
                                                span 3-7 days delivary for $0.4
                                            .check

                                        li
                                            input#courier(type="radio", name="selector")
                                            label(for="courier") Courier
                                                span 5-8 days delivary for $0.3
                                            .check

                    // Cart Amount Area
                    .card.cart-amount-area
                        .card-body.d-flex.align-items-center.justify-content-between
                            h5.total-price.mb-0 $
                                span.counter 39.84
                            a.btn.btn-warning(href="checkout-payment.html") Confirm &amp; Pay

        include inc/footer-nav.pug

        include inc/footer.pug