doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between
                // Back Button
                .back-button
                    a(href="home.html")
                        i.lni.lni-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Featured Products

                // Filter Option
                .filter-option#suhaNavbarToggler
                    i.lni.lni-cog

        include inc/filter.pug

        .page-content-wrapper

            // Top Products
            .top-products-area.py-3
                .container
                    .section-heading.d-flex.align-items-center.justify-content-between
                        h6.ml-1 Featured Products

                    .row.g-3
                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/14.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Blue Skateboard
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/15.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Travel Bag
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/16.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Cotton T-shirts
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/6.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Roof Lamp 
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/14.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Blue Skateboard
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/15.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Travel Bag
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/16.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Cotton T-shirts
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/6.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Roof Lamp 
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/14.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Blue Skateboard
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/15.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Travel Bag
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/16.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Cotton T-shirts
                                        p.sale-price
                                            | $64
                                            span $89

                        // Featured Product Card
                        .col-6.col-md-4.col-lg-3
                            .card.featured-product-card
                                .card-body
                                    span.badge.badge-warning.custom-badge
                                        i.lni.lni-star
                                    .product-thumbnail-side
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/6.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Roof Lamp 
                                        p.sale-price
                                            | $64
                                            span $89

        include inc/footer-nav.pug

        include inc/footer.pug