doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        include inc/sidenav.pug

        .page-content-wrapper.py-3
            .container
                h6.ml-1.mb-2 All Pages

                ul.page-nav.pl-0
                    li
                        a(href="home.html")
                            | Home
                            i.lni.lni-chevron-right
                    li
                        a(href="shop-grid.html")
                            | Shop Grid
                            i.lni.lni-chevron-right
                    li
                        a(href="shop-list.html")
                            | Shop List
                            i.lni.lni-chevron-right
                    li
                        a(href="single-product.html")
                            | Product Details
                            i.lni.lni-chevron-right
                    li
                        a(href="catagory.html")
                            | Catagory
                            i.lni.lni-chevron-right
                    li
                        a(href="sub-catagory.html")
                            | Sub Catagory
                            i.lni.lni-chevron-right
                    li
                        a(href="wishlist-grid.html")
                            | Wishlist Grid
                            i.lni.lni-chevron-right
                    li
                        a(href="wishlist-list.html")
                            | Wishlist List
                            i.lni.lni-chevron-right
                    li
                        a(href="flash-sale.html")
                            | Flash Sale
                            i.lni.lni-chevron-right
                    li
                        a(href="featured-products.html")
                            | Featured Products
                            i.lni.lni-chevron-right
                    li
                        a(href="cart.html")
                            | Cart
                            i.lni.lni-chevron-right
                    li
                        a(href="checkout-bank.html")
                            | Checkout Bank
                            i.lni.lni-chevron-right
                    li
                        a(href="checkout-cash.html")
                            | Checkout Cash
                            i.lni.lni-chevron-right
                    li
                        a(href="checkout-credit-card.html")
                            | Checkout Credit Card
                            i.lni.lni-chevron-right
                    li
                        a(href="checkout-payment.html")
                            | Checkout Payment
                            i.lni.lni-chevron-right
                    li
                        a(href="checkout-paypal.html")
                            | Checkout PayPal
                            i.lni.lni-chevron-right
                    li
                        a(href="checkout.html")
                            | Checkout
                            i.lni.lni-chevron-right
                    li
                        a(href="blog-grid.html")
                            | Blog Grid
                            i.lni.lni-chevron-right
                    li
                        a(href="blog-list.html")
                            | Blog List
                            i.lni.lni-chevron-right
                    li
                        a(href="blog-details.html")
                            | Blog Details
                            i.lni.lni-chevron-right
                    li
                        a(href="change-password.html")
                            | Change Password
                            i.lni.lni-chevron-right                    
                    li
                        a(href="edit-profile.html")
                            | Edit Profile
                            i.lni.lni-chevron-right
                    li
                        a(href="language.html")
                            | Select Language
                            i.lni.lni-chevron-right
                    li
                        a(href="intro.html")
                            | Intro Page
                            i.lni.lni-chevron-right
                    li
                        a(href="login.html")
                            | Login
                            i.lni.lni-chevron-right
                    li
                        a(href="register.html")
                            | Register
                            i.lni.lni-chevron-right
                    li
                        a(href="otp.html")
                            | OTP Send
                            i.lni.lni-chevron-right
                    li
                        a(href="otp-confirm.html")
                            | OTP Confirmation
                            i.lni.lni-chevron-right
                    li
                        a(href="forget-password-success.html")
                            | Forget Password Success
                            i.lni.lni-chevron-right
                    li
                        a(href="forget-password.html")
                            | Forget Password
                            i.lni.lni-chevron-right
                    li
                        a(href="about-us.html")
                            | About Us
                            i.lni.lni-chevron-right
                    li
                        a(href="contact.html")
                            | Contact Us
                            i.lni.lni-chevron-right
                    li
                        a(href="offline.html")
                            | Offline
                            i.lni.lni-chevron-right
                    li
                        a(href="message.html")
                            | Message
                            i.lni.lni-chevron-right
                    li
                        a(href="my-order.html")
                            | My Order
                            i.lni.lni-chevron-right
                    li
                        a(href="notification-details.html")
                            | Notifications Details
                            i.lni.lni-chevron-right
                    li
                        a(href="notifications.html")
                            | Notifications
                            i.lni.lni-chevron-right
                    li
                        a(href="payment-success.html")
                            | Payment Success
                            i.lni.lni-chevron-right
                    li
                        a(href="privacy-policy.html")
                            | Privacy Policy
                            i.lni.lni-chevron-right
                    li
                        a(href="profile.html")
                            | Profile
                            i.lni.lni-chevron-right
                    li
                        a(href="settings.html")
                            | Settings
                            i.lni.lni-chevron-right                    
                    li
                        a(href="support.html")
                            | Support
                            i.lni.lni-chevron-right

        include inc/footer-nav.pug

        include inc/footer.pug