doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                // Settings Wrapper
                .settings-wrapper.py-3

                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-checkmark
                                    span Availability
                                .data-content
                                    .toggle-button-cover
                                        .button.r
                                            input.checkbox(type="checkbox" checked)
                                            .knobs
                                            .layer

                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-alarm
                                    span Notifications
                                .data-content
                                    .toggle-button-cover
                                        .button.r
                                            input.checkbox(type="checkbox" checked)
                                            .knobs
                                            .layer

                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-night
                                    span Night Mode
                                .data-content
                                    .toggle-button-cover
                                        .button.r
                                            input.checkbox#darkSwitch(type="checkbox")
                                            .knobs
                                            .layer
                    
                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-world
                                    span Language
                                .data-content
                                    a(href="language.html")
                                        | English
                                        i.lni.lni-chevron-right
                    
                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-question-circle
                                    span Support
                                .data-content
                                    a(href="support.html").pl-4
                                        i.lni.lni-chevron-right
                    
                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-protection
                                    span Privacy
                                .data-content
                                    a(href="privacy-policy.html").pl-4
                                        i.lni.lni-chevron-right
                    
                    // Single Setting Card
                    .card.settings-card
                        .card-body
                            // Single Settings
                            .single-settings.d-flex.align-items-center.justify-content-between
                                .title
                                    i.lni.lni-lock
                                    span Password
                                        span Updated 1 month ago
                                .data-content
                                    a(href="change-password.html")
                                        | Change
                                        i.lni.lni-chevron-right

        include inc/footer-nav.pug

        include inc/footer.pug