doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between
                // Back Button
                .back-button
                    a(href="settings.html")
                        i.lni.lni-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Support

                // Navbar Toggler
                .suha-navbar-toggler.d-flex.justify-content-between.flex-wrap#suhaNavbarToggler
                    span
                    span
                    span

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                // Support Wrapper
                .support-wrapper.py-3
                    h4.faq-heading.text-center How can we help you with?

                    // Search Form
                    form.faq-search-form(action="#" method="")
                        input.form-control(type="search" name="search" placeholder="Search")
                        button(type="submit")
                            i.fa.fa-search

                    // Accordian Area Wrapper
                    .accordian-area-wrapper.mt-3

                        // Accordian Card
                        .card.accordian-card.clearfix
                            .card-body
                                h5.accordian-title For Buyers

                                .accordion#accordionExample
                                    // Single Accordian
                                    #headingOne.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                                            span
                                                i.lni.lni-bi-cycle
                                                | How to get started?
                                            i.lni.lni-chevron-right

                                    #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                                    // Single Accordian
                                    #headingTwo.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                                            span
                                                i.lni.lni-cart-full
                                                | How to buy a product?
                                            i.lni.lni-chevron-right

                                    #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                    // Accordian Area Wrapper
                    .accordian-area-wrapper.mt-3

                        // Accordian Card
                        .card.accordian-card.seller-card.clearfix
                            .card-body
                                h5.accordian-title For Authors

                                .accordion#accordionExample2
                                    // Single Accordian
                                    #headingThree.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                                            span
                                                i.lni.lni-dropbox
                                                | How can upload a product?
                                            i.lni.lni-chevron-right

                                    #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionExample2")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                                    // Single Accordian
                                    #headingFour.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                                            span
                                                i.lni.lni-dollar
                                                | Commission structure
                                            i.lni.lni-chevron-right

                                    #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordionExample2")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                    // Accordian Area Wrapper
                    .accordian-area-wrapper.mt-3

                        // Accordian Card
                        .card.accordian-card.others-card.clearfix
                            .card-body
                                h5.accordian-title Others

                                .accordion#accordionExample3
                                    // Single Accordian
                                    #headingFive.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
                                            span
                                                i.lni.lni-exit
                                                | How to return a product?
                                            i.lni.lni-chevron-right

                                    #collapseFive.collapse(aria-labelledby="headingFive" data-parent="#accordionExample3")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                                    // Single Accordian
                                    #headingSix.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
                                            span
                                                i.lni.lni-emoji-sad
                                                | My product is misleading?
                                            i.lni.lni-chevron-right

                                    #collapseSix.collapse(aria-labelledby="headingSix" data-parent="#accordionExample3")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

        include inc/footer-nav.pug

        include inc/footer.pug