doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between
                // Back Button
                .back-button
                    a(href="home.html")
                        i.lni.lni-arrow-left

                // Page Title
                .page-heading
                    h6.mb-0 Wishlist

                // Navbar Toggler
                .suha-navbar-toggler.d-flex.justify-content-between.flex-wrap#suhaNavbarToggler
                    span
                    span
                    span

        include inc/sidenav.pug

        .page-content-wrapper

            // Top Products
            .top-products-area.py-3
                .container
                    .section-heading.d-flex.align-items-center.justify-content-between
                        h6.ml-1 Your Wishlist (4)

                        // Layout Options
                        .layout-options
                            a(href="wishlist-grid.html")
                                i.lni.lni-grid-alt

                            a.active(href="wishlist-list.html")
                                i.lni.lni-radio-button

                    .row.g-3
                        // Single Weekly Product Card
                        .col-12.col-md-6
                            .card.weekly-product-card
                                .card-body.d-flex.align-items-center
                                    .product-thumbnail-side
                                        span.badge.badge-success Sale
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/10.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Modern Red Sofa
                                        p.sale-price
                                            i.lni.lni-dollar
                                            | $64
                                            span $89
                                        .product-rating
                                            i.lni.lni-star-filled
                                            | 4.88 (39)
                                        a.btn.btn-success.btn-sm.add2cart-notify(href="#")
                                            i.mr-1.lni.lni-cart
                                            | Buy Now

                        // Single Weekly Product Card
                        .col-12.col-md-6
                            .card.weekly-product-card
                                .card-body.d-flex.align-items-center
                                    .product-thumbnail-side
                                        span.badge.badge-primary Sale
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/7.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Office Chair
                                        p.sale-price
                                            i.lni.lni-dollar
                                            | $100
                                            span $160
                                        .product-rating
                                            i.lni.lni-star-filled
                                            | 4.82 (125)
                                        a.btn.btn-success.btn-sm.add2cart-notify(href="#")
                                            i.mr-1.lni.lni-cart
                                            | Buy Now

                        // Single Weekly Product Card
                        .col-12.col-md-6
                            .card.weekly-product-card
                                .card-body.d-flex.align-items-center
                                    .product-thumbnail-side
                                        span.badge.badge-danger -10%
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/12.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Sun Glasses
                                        p.sale-price
                                            i.lni.lni-dollar
                                            | $24
                                            span $32
                                        .product-rating
                                            i.lni.lni-star-filled
                                            | 4.79 (63)
                                        a.btn.btn-success.btn-sm.add2cart-notify(href="#")
                                            i.mr-1.lni.lni-cart
                                            | Buy Now

                        // Single Weekly Product Card
                        .col-12.col-md-6
                            .card.weekly-product-card
                                .card-body.d-flex.align-items-center
                                    .product-thumbnail-side
                                        span.badge.badge-warning New
                                        a.wishlist-btn(href="#")
                                            i.lni.lni-heart
                                        a.product-thumbnail.d-block(href="single-product.html")
                                            img(src="img/product/13.png", alt="")
                                    .product-description
                                        a.product-title.d-block(href="single-product.html") Wall Clock
                                        p.sale-price
                                            i.lni.lni-dollar
                                            | $31
                                            span $47
                                        .product-rating
                                            i.lni.lni-star-filled
                                            | 4.99 (7)
                                        a.btn.btn-success.btn-sm.add2cart-notify(href="#")
                                            i.mr-1.lni.lni-cart
                                            | Buy Now

                        // Select All Products
                        .col-12
                            .select-all-products-btn
                                a.btn.btn-danger.w-100(href="#") Add All To Cart

        include inc/footer-nav.pug

        include inc/footer.pug